.registerBlock{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 75vh;
    background-color: aliceblue;
    margin-top: 40px;
    border-radius: 20px;
}

.registerForm{
    width: 27.5%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:20px;
}

.TextField , .registerButton{
    width: 90%;
    border-radius: 10px;
}

.registerButton {
    font-size: medium;
    margin-top: 35px;
    margin-bottom: 20px;
    height: 10%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registerButton:hover {
    background-color: lightgray;
}

 .title {
    margin-bottom: 45px;
}


/* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),0px 4px 2px rgba(0, 0, 0, 0.5); */
